<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="forestUsageReport_VB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <forestUsageReport_VB.My.MySettings>
            <setting name="DateTimePicker1Value" serializeAs="String">
                <value>12/04/2022 13:39:40</value>
            </setting>
            <setting name="DateTimePicker2Value" serializeAs="String">
                <value>12/04/2022 13:39:40</value>
            </setting>
            <setting name="DateTimePicker3Value" serializeAs="String">
                <value>12/04/2022 13:39:40</value>
            </setting>
            <setting name="DateTimePicker4Value" serializeAs="String">
                <value>12/04/2022 13:39:40</value>
            </setting>
            <setting name="tv" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PrintFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ПодписаниеВкл" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Совместимость" serializeAs="String">
                <value>False</value>
            </setting>
        </forestUsageReport_VB.My.MySettings>
    </userSettings>
</configuration>